<%- include('includes/head') %>
</head>

<body>
  <%- include('includes/nav') %>
  <div class="container">
    <h1>Popular Movies Page</h1>
    <%- include('includes/render-movies') %>
  </div>

</body>