<%- include('includes/head') %>
<link rel="stylesheet" href="/css/render-movies.css">
</head>

<body>
  <%- include('includes/nav') %>
  <div class="container">
    <h1 class="my-3">Trending Movies Page</h1>
    <%- include('includes/render-movies') %>
  </div>

</body>