<%- include('includes/head') %>
<link rel="stylesheet" href="/css/render-movies.css">
</head>

<body>
  <%- include('includes/nav') %>
  <div class="container">
    <h1 class="my-3">User Information</h1>
  </div>

</body>