.navbar {
  display: flex;
  justify-content: flex-start;
  background: #444;
  height: 60px;
  margin: 0;
  font-size: 18px;
}

.navbar .nav-item {
  list-style: none;
  color: #fff;
  padding: 20px 10px 0 10px
}

.navbar .nav-item a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.navbar .nav-item a:hover {
  color: #abff98;
}