.nav {
  display: flex;
  justify-content: space-between;
  background: #444;
  height: 65px;
  margin: 0;
  font-size: 18px;
}

.nav div {
  display: flex;
}

.nav .nav-item {
  list-style: none;
  color: #fff;
}

.nav .nav-item button {
  color: #fff
}

.nav .nav-item a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.nav .nav-item a:hover,
.nav .nav-item button:hover {
  color: #abff98;
}